<!DOCTYPE html>
<html>
<head>
	<title>Space Shooter</title>
	<script src="lib/crafty.js"></script>
	<script src="src/config.js"></script>
	<script src="src/components.js"></script>
	<script src="src/scenes.js"></script>
	<script src="src/game.js"></script>
	<script>
		window.addEventListener('load', ss.Game.start);
	</script>
	<style type="text/css">
		html, body { margin: 0; padding: 0; width: 100%; height: 100%; background-color: grey; }
		body > div { margin: auto; }
	</style>
</head>
<body>
</body>
</html>
