<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <script src="../javascript/home-page.js"></script>
        <script src="../javascript/Ballgame.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/login-page.css">
  </head>
<title>Title of the document</title>
</head>

<body>
    <img src="../assets/pig.jpg">
    <button id="homeButton" class="btn btn-primary btn-sm">Home</button>

</body>

</html>