<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <script src="../javascript/home-page.js"></script>
        <script src="../javascript/Ballgame.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/bank.css">
  </head>
<title>Title of the document</title>
</head>

<body>
    <h1>Savvy Bank </h1>
    <img src="../assets/pig.jpg">
    <button id="homeButton" class="btn btn-primary btn-md">Home</button>
    <button type="button" class="btn btn-warning">Save</button>
    <button type="button" class="btn btn-info">Spend</button>
    <button type="button" class="btn btn-success">Donate</button>
    <button type="button" class="btn btn-danger">Invest</button>
    
    <div class="flip_container">
    <div class="flip">
<div class="flip_front">
    <img src="https://upload.wikimedia.org/wikipedia/commons/0/0c/2010_cent_obverse.png" width="100" height="100"></img>        

    </div>
        <div class="flip_back">
    <img src="https://upload.wikimedia.org/wikipedia/commons/e/e5/2005_Penny_Rev_Unc_D.png"  width="100" height="100"></img>
     
        </div>
     </div>
</div>
    
    <div class="flip_container">
    <div class="flip">
<div class="flip_front">
        
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/62/US_Nickel_2013_Obv.png"  width="100" height="100"></img>
    </div>
        <div class="flip_back">
        <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/9/96/US_Nickel_2013_Rev.png/440px-US_Nickel_2013_Rev.png" width="100" height="100"></img>
        </div>
     </div>
</div>


</body>

</html>