<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../styles/credits.css">
    <title>Savvy Credits</title>
</head>
<body>
 <div id="titles"><div id="titlecontent">

<img src="../assets/wholelogo.png"/>

    <p>Denzel Riley</p>
    <p>Ganna Brukh</p>
    <p>Eric Hall</p>
    <p>Courtney Craig</p>
    <p>Justin Imo</p>

<img src="../assets/piggysmile.png"/>
<img src="../assets/MSGenlogotag3.png"/>
<img src="../assets/The-PrivateBank-white.png"/>
 <p>Dean Haacker</p>

 
 <img src="../assets/Big-Shoulders-Fund.png"/>
 <div id="yoo"><img src="../assets/icstarslogo.png"/></div>
 
 </div></div> 
 
</body>
</html>