<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../styles/credits.css">
    <title>Savvy Credits</title>
</head>
<body>
 <div id="titles"><div id="titlecontent">

<img src="wholelogo.png"/>

    <p>Denzel Riley</p>
    <p>Ganna Brukh</p>
    <p>Eric Hall</p>
    <p>Courtney Craig</p>
    <p>Justin Imo</p>

<img src="piggysmile.png"/>
<img src="MSGenlogotag3.png"/>
 
 <p>Dean Haacker</p>

 
 <img src="Big-Shoulders-Fund.png"/>
 <img src="icstarslogo.png"/>
 </div></div> 
 
</body>
</html>