<!DOCTYPE html>
<html>
    <head>
        <title>Donate page bank </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/bank-edu.css">
    </head>
    <body>
        <div class="content">
        <img src="../assets/piggysmile.png" height=200 px/>
        <h2> What does donating money mean? </h2>
<p>  Donating means giving part of your money away to help less fortunate than you, support charities you want to help.</p>
<p3>Help others! Donate your time, talent or money to make a world better place!</p3>
</div>
<div id="gobackbutton">
<a href="bank.html"><img src="../assets/piggybank.jpg" height=90 px/></a>
 </div>
    </body>
</html>