<!DOCTYPE html>
<html>
 
     <div class="content">
         <head>
     <h1>Home Page</h1>
   <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
   <script src="../javascript/home-page.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
         integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
         crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="../styles/home-page.css">
   
    <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <script src="../javascript/home-page.js"></script>
        <script src="../javascript/Ballgame.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/login-page.css">
 </head>
 <body>
   
       <form action="samplegame.html">
       <button id="startbutton" class="btn btn-success">PLAY</button>
       </form>
       <form method="get" action="bank.html">
         <button id="bankPage" class= "btn btn-warning">Savvy Bank</button> 
         </form>
         <button type="button" class="btn btn-info">Logout</button>
       <button id="creditspage" class="btn btn-primary">About</button>
       <a href="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjT0Jan_8POAhVERCYKHf5YCpkQjRwIBw&url=http%3A%2F%2Fwww.cgtutorials.com%2Ft2888%2FMacromedia_Flash%2FSound_Button&bvm=bv.129422649,d.dmo&psig=AFQjCNHEBsaV5l6NZwbF4usro9hkgzBpGQ&ust=1471364647317014">
  <img src="http://www.cgtutorials.com/oneadmin/_files/linksdir/2888_Sound_Button.gif" height= 40 px>
    </a>
    
       <img src="../assets/smallit.png" height= 50px> 
                    
    </div>
     <embed src="../assets/BandOnly.mp3" autostart="true" loop="true"
    width="2"
    height="0">
    </embed>

 </body>


</html>
