<!DOCTYPE html>
<html>
 
     <div class="content">
         <head>
     <h1>Home Page</h1>
   <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
   <script src="../javascript/home-page.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
         integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
         crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="../styles/home-page.css">
   
    <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <script src="../javascript/home-page.js"></script>
        <script src="../javascript/Ballgame.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/login-page.css">
 </head>
 <body>
     <form action="samplegame.html" id="play">
       <button id="startbutton" class="btn btn-success col-mid-4 center block menu-button btn-lg">PLAY</button>
     </form>
     <form method="get" action="bank.html">
         <button id="bankPage" class="btn btn-warning col-mid-4 center block menu-button btn-lg">Savvy Bank</button> 
     </form>
     <div class="home-page-buttons">
      <button id="logOut" type="button" class="btn btn-info col-mid-4 center block menu-button btn-lg">Logout</button>
     </div>
     <div id="creditRoll">
       <button id="creditspage" class="btn btn-primary col-mid-4 center block menu-button btn-lg">About creators</button>
     </div>
     <embed src="../assets/BandOnly.mp3" autostart="true" loop="true"
    width="2"
    height="0">
    </embed>
 </body>


</html>
