<!DOCTYPE html>
<html>
    <head>
        <title>Invest page b  </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/bank-edu.css">
    </head>
    <body>
        <div class="content">
        <img src="../assets/piggysmile.png" height=130 px/>
<h2> What does investing money mean? </h2>
<p> People invest money, so they can take care of very long-term goals, such as paying 
for things they will need about seven to ten years from now!</p>

<h2> What are the long-term goals? </h2>
<li>College education</li>
<li>A new home</li>
<li>Money for paying bills in the future.</li>
<h2> Review</h2>
<img src="../assets/mspig.gif" class="img-rounded" height=200 px/>
</div>
<div id="gobackbutton">
<a href="bank.html"><img src="../assets/piggybank.jpg" height=90 px/></a>
 </div>
    </body>
</html>