<!DOCTYPE html>
<html>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/bank-edu.css">
    <head>
        <title> Save bank page </title>
    </head>
    <body>
        <div class="content">
        <img src="../assets/piggysmile.png" height=130 px/>
<h2> What does saving money means? </h2>
<p> Saving means not spending your money now, 
but putting it away for spending it in the future.</p>
<h2> Why I should save money? </h2>
<p> Because the more money you save, the more you can buy later.</p>

<h2>Where do I keep my money?</h2>
<ul> 
<li>Piggy bank is the place money can stay safe and sound.</li>
<li>Save Slot: saving begings in the first slot!</li>
<li> In the big bank.
</li></ul>
</div>
 <div id="gobackbutton">
<a href="bank.html"><img src="../assets/piggybank.jpg" height=90 px/></a>
 </div>
    </body>
</html>