<!DOCTYPE html>
<html>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/bank-edu.css">
    <head>
        <title> Save bank page </title>
    </head>
    <body>
        <div class="content">
        <img src="../assets/piggysmile.png" height=130 px/>
<h2> What does saving money means? </h2>
<p> Saving means not spending your money now, 
but putting it away for spending it in the future.</p>
<h2> Why I should save money? </h2>
<p> Because the more money you save, the more you can buy later.</p>
<p3> You could either spend $1 now on an inexpensive toy that will probably break, 
or you could save many $1 bills and be able to buy that new book or pensils you want.</p3>
<h2>Where do I keep my money?</h2>
<ul> 
<li>Lots of girls and boys save their money in the piggy bank where
their money can stay safe and sound.</li>
<li>Saving begings in the first slot!
Let's put one penny today in the Sava slot.</li>
<li>Some kids save money in a big bank in their community
like their mom and dad use.</li></ul>
</div>
 <div id="gobackbutton">
<a href="bank.html"><img src="../assets/piggybank.jpg" height=90 px/></a>
 </div>
    </body>
</html>