<!DOCTYPE html>
<html>
    <head>
        <title>spend bank page </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/bank-edu.css">
    </head>
    <body>
        <div class="content">
        <img src="../assets/piggysmile.png" height=130 px/>
<h2> What does spending money mean? </h2>
<p> Spending means handing over your your money in exchange for goods. </p>
<h2> What the Spend Slot is for? </h2>
<p>It's where you put the money for the less expensive 
things you want to buy now, like little snacks or toys.</p>
<ul> Smart spending tips:
<li>Make a list! </li>
<li>Then choose the item you need to buy the most.</li>
<li> Set your spending goals.</li>
<li>Try to find the lowest prices. </li>
</ul>
</div>
 <div id="gobackbutton">
<a href="bank.html"><img src="../assets/piggybank.jpg" height=90 px/></a>
 </div>
    </body>
</html>