<!DOCTYPE html>
<html>
    <head>
        <title>spend bank page </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/bank-edu.css">
    </head>
    <body>
        <div class="content">
        <img src="../assets/piggysmile.png" height=130 px/>
<h2> What does spending money mean? </h2>
<p> Spending is the opposite of saving. 
It means handing over your your money in exchange for goods. (book or crayons for example) </p>
<h2> What the Spend Slot is for? </h2>
<p>It's where you put the money for the less expensive 
things you want to buy now, like snacks, little toys or magazine.</p>
<ul> Smart spending tips:
<li>Make a list! Write down all the little things you'd like to buy with your
Spend money. This will help you remember what your goal are.</li>
<li>Then choose the item you need to buy the most.</li>
<li> Who's #1? You making spending choices every time you buy something.
You can't buy everything on your list, so you need to decide which
choice you need the most.</li>
<li>Compare prices! Smart spenders find the lowest price for whatever
they want to buy. </li>
</ul>
</div>
 <div id="gobackbutton">
<a href="bank.html"><img src="../assets/piggybank.jpg" height=90 px/></a>
 </div>
    </body>
</html>