.content {
  margin: 0 auto;
  width: 60%;
  position: relative
}

h1 {
  text-align: center;
}

#creditspage,#logout{
  display: block;
}

.menu-button {
  width:300px;
  height:150px;
  margin-left:250px;
  font-family: Futura;
  font-size: 40px !important;
}

form,.home-page-buttons{
  margin-bottom:20px;
}

#play {
  margin-top: 20px;
}

#sound-button{
  float:right;
}


